# general configuration
LANGUAGE_CODE="en-us"
TIME_ZONE="UTC"

# webapp internals
SECRET_KEY=xxx
DEBUG=True
ALLOWED_HOSTS=.localhost, 127.0.0.1
DB_NAME=db.sqlite3

# telegram
TELEGRAM_API_ID=123
TELEGRAM_API_HASH=xxx
TELEGRAM_PHONE_NUMBER=+123
TELEGRAM_CRAWLER_MESSAGES_LIMIT_PER_CHANNEL=100
TELEGRAM_CRAWLER_DOWNLOAD_IMAGES=False
TELEGRAM_CRAWLER_DOWNLOAD_VIDEO=False