{% load static %}
<nav class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary border-end" style="width: 280px;" aria-label="Channel list">
  <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Channel list</span>
  </a>
  <ul class="list-group list-group-flush border-bottom scrollarea overflow-y-auto flex-grow-1 mb-0">
    {% for channel in channel_list %}
    <li>
      <a href="{{ channel.get_absolute_url }}" class="list-group-item list-group-item-action py-3 lh-sm{% if selected_channel == channel %} active{% endif %}"{% if selected_channel == channel %} aria-current="page"{% endif %}>
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{ channel.title }}</strong>
          <small class="text-end" style="font-size: 80%; color: {{ channel.organization.color }};">{{ channel.organization }}</small>
        </div>
        <div class="small text-muted">{{ channel.message_set.all.count }} messages</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
